.activevue{
    background-color:#dae1e7 ;
}

.brand{
    font-family: 'Righteous', cursive;
    font-size: 3em;
    margin:auto;
}

.my-container{
    margin: 160px auto;
    max-width: 50%;
}

.my-toggler{
    position:absolute;
    right:30px;
    top:30px;
}

.submit{
    background-color:#142850;
}

.waev{
    font-weight: bolder;
    margin-bottom:0px;
    padding:10px;
}

.word-input{
    border:1px solid #dae1e7;
    padding:0px;
}

#dashboard{
    padding: 0px;
}

#timecode{
    border-bottom: 1px solid#dae1e7;
    height:13vh;
    margin-top: 90px;
    padding-bottom:10px;
    padding-left:10px;
    padding-top: 15px;
}

#transcript{
    border: 1px solid#dae1e7;
    height: 91vh;
    margin-top:90px;
    overflow:scroll;
    padding-top:20px;
    
}

#upload{
    border-bottom: 1px solid#dae1e7;
    height: 23vh;
    padding:10px;
}

#upload-content{
    margin: 0px auto  
}

#waevlist{
    border-bottom: 1px solid#dae1e7;
    height: 55vh;
    overflow:scroll;
    padding-top:10px;
}

#waevlist h3{
    padding-left:10px
}