{%csrf_token%}
{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>waev</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <link rel='stylesheet' type='text/css' href="{%static 'waev/main.css'%}">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top my-nav"style="background-color: #142850;">
            <div class="container">
            <a class="navbar-brand mr-auto brand" href="#">waev</a>
            {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="#">Home</a>
              </div>
              <div class="navbar-nav">
              {%if user.is_authenticated%}
              <a class="nav-item nav-link" href="#">New Post</a>
              <a class="nav-item nav-link" href="#">Account</a>
              <a class="nav-item nav-link" href="#">Profile</a>
              <a class="nav-item nav-link" href="#">Logout</a>
              {%else%}
              <a class="nav-item nav-link" href="#">Login</a>
              <a class="nav-item nav-link" href="#">Register</a>
              {%endif%}
              </div>
            </div> {% endcomment %}
            </div>

        </nav>
        {%block content%}{%endblock%}
    </body>