{%csrf_token%}
<body>
<div id="app">
    <div class="container">
        <div class="large-12 medium-12 small-12 cell">
            <label>File 
                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
            </label>
                <button @click="submitFile()">Submit</button>
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            csrf_token: "",
            file: "",
            transcripts: [],
            token: ""
        },

        methods: {
            handleFileUpload(){
                this.file = this.$refs.file.files[0]

            },
            submitFile(){
                let formData= new FormData()
                formData.append('file', this.file)
                axios.post('https://storage.googleapis.com/upload/storage/v1/b/waev/o?uploadType=media&name=test',
                    formData,
                    {
                        headers:{

                            'Content-Type':'multipart/form-data',
                            

                
                        }
                    }
                    ).then(function(){
                        console.log('SUCCESS!!')
                    }).catch(function(){
                        console.log('FAILURE!!')
                    })
            },
            getAuth: function(){
                var oauth2Endpoint = 'https://accounts.google.com/o/oauth2/v2/auth';

                // Create <form> element to submit parameters to OAuth 2.0 endpoint.
                var form = document.createElement('form');
                form.setAttribute('method', 'GET'); // Send as a GET request.
                form.setAttribute('action', oauth2Endpoint);

                // Parameters to pass to OAuth 2.0 endpoint.
                var params = {
                    'client_id': '256367319535-unavpckcnc84hirnqckamb883cog7k14.apps.googleusercontent.com',
                    'redirect_uri': 'http://localhost:8000',
                    'response_type': 'token',
                    'scope': 'https://www.googleapis.com/auth/cloud-platform',
                    'include_granted_scopes': 'true',
                    'state': 'pass-through value'
                };

                // Add form parameters as hidden input values.
                for (var p in params) {
                    var input = document.createElement('input');
                    input.setAttribute('type', 'hidden');
                    input.setAttribute('name', p);
                    input.setAttribute('value', params[p]);
                    form.appendChild(input);
                }

                // Add form to page and submit it to open the OAuth 2.0 endpoint.
                document.body.appendChild(form);
                form.submit();
            }
        },
    })
</script>


