{%extends "waev/base.html"%}
{%csrf_token%}
{%load static%}
    {%block content%}
    <div id='app'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 third" id="transcript">
                    <span v-for="word in this.selectedWaev.transcript">
                        <a v-if="!word.editWord" @mouseover="hoverTimecode=word.timestamp" @click="toggleWordEdit(word)">[[word.text]] </a>
                        <a v-else="word.editWord" v-on:keyup.enter="toggleEdit"><input v-model="word.text" v-on:keyup.enter="toggleEdit" :size="word.text.length===1 ? word.text.length:word.text.length-1"></a>
                    </span>
                </div>
                <div class="col-4 third">
                    <div>
                        <div id="timecode">
                            <h3>timecode</h3>
                            [[this.hoverTimecode]]
                        </div>
                    </div>
                    <div id="waevlist">
                        <h3>waevs</h3>
                            <div v-for="waev in userWaevs">
                                <div v-if="waev.transcript">
                                    <p @click="selectWaev(waev)">[[waev.filename]] [[waev.id]]<button @click="removeWaev(waev)" type="button" class="btn btn-primary btn-sm">Delete</button>
                                </div>
                            </div> 
                    </div>
                    <div class="third" id="upload">
                        <div id="upload-content">
                            <h1>new waev</h1>
                            <div class="large-12 medium-12 small-12 cell">
                                <label>File 
                                    <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
                                </label>
                                <br>
                                <progress max="100" :value.prop="uploadPercentage"></progress>
                                <br>
                                <button @click="submitFile()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>  
    </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <script>
            let app = new Vue({
                el: '#app',
                delimiters: ['[[', ']]'],
                data: {
                    csrf_token: "",
                    newWaev:{
                        'file': null,
                        'filename': null,
                        'project_name':null,
                        'id': null,
                    },
                    selectedWaev: {
                        'audio': null,
                        'filename': null,
                        'id': null,
                        'transcript': null,
                        'user':null,
                    },
                    uploadPercentage: 0,
                    user:"",
                    userWaevs: {},
                    editWord: false,
                    hoverTimecode: "00:000000000"
                },

                methods: {
                    selectWaev(waev){
                        if(this.selectedWaev !== waev){
                            this.selectedWaev=waev
                            this.selectedWaev.transcript=JSON.parse(waev.transcript)
                            
                        }
                    },
                    removeWaev(waev){
                        axios({
                            method: 'delete',
                            url: `/api/v1/waevs/${waev.id}/`,
                            headers:{'X-CSRFToken':this.csrf_token}
                        }).then(response=>{
                            console.log("Success!")
                            this.reloadWaevs()
                        })



                    },
                    handleFileUpload(){
                        console.log(this.$refs.file.files)
                        this.newWaev.file = this.$refs.file.files[0]
                        this.newWaev.filename=this.$refs.file.files[0].name
                    },
                    submitFile(){
                        let formData= new FormData()
                        formData.append(
                            'audio', this.newWaev.file)
                        formData.append('user', 1)
                        formData.append('filename', this.newWaev.filename)
                        console.log(formData)
                        axios.post('/api/v1/waevs/',
                            formData,
                            {
                                {% comment %} onUploadProgress: function(progressEvent){
                                        console.log(progressEvent.loaded)
                                        this.uploadPercentage = parseInt(Math.round((progressEvent.loaded/progressEvent.total)* 100))
                                        }.bind(this), {% endcomment %}
                                
                                headers:{
                                    'Content-Type':'multipart/form-data',
                                    'X-CSRFToken': this.csrf_token
                                },                               
                            }).then(response=>{
                                console.log(response.data)
                                this.newWaev.id = response.data.id
                                axios({
                                    method: 'post',
                                    url:'http://localhost:8000/upload/',
                                    data: {"filename": this.newWaev.filename},
                                    headers:{
                                            'X-CSRFToken': this.csrf_token
                                        },    
                                    onUploadProgress: function(progressEvent){
                                        console.log(progressEvent.loaded)
                                        this.uploadPercentage = parseInt(Math.round((progressEvent.loaded/progressEvent.total)* 100))
                                        }.bind(this)
                                }).then(response =>{
                                    axios({
                                        method: 'post',
                                        url:'http://localhost:8000/transcribe/',
                                        data: {"filename": this.newWaev.filename,
                                        "id": this.newWaev.id},
                                        headers:{
                                            'X-CSRFToken': this.csrf_token
                                        },
                                        onUploadProgress: function(progressEvent){
                                                this.uploadPercentage = parseInt(Math.round((progressEvent.loaded/progressEvent.total)* 100))
                                                }.bind(this)            
                                    }).then(response => {
                                        this.transcript=response.data
                                        this.reloadWaevs()
                                        this.newWaev={
                                            'file': null,
                                            'filename': null,
                                            'project_name':null,
                                            'id': null,
                                        }
                                    })
                                })
                            })

                    },
                    updateTranscript(){
                        axios({
                            method: 'patch',
                            url: `/api/v1/waevs/${this.selectedWaev.id}/`,
                            data: {'transcript': JSON.stringify(this.selectedWaev.transcript)},
                            headers:{'X-CSRFToken':this.csrf_token}
                        }).then(response=>{
                            console.log("Success!")
                            console.log(response.data)
                            this.reloadWaevs()
                            this.selectedWaev=response.data
                            this.selectedWaev.transcript=JSON.parse(response.data.transcript)
                        }).catch(function(){
                            console.log("Failure")
                        })
                        
            
                    },
                    toggleEdit(){
                        {% comment %} this.editWord=this.editWord ? false:true {% endcomment %}
                        this.selectedWaev.transcript=this.selectedWaev.transcript.map(word=>{
                                word.editWord=false
                                return word
                        })
                    
                    },
                    toggleWordEdit(word){
                        word.editWord=word.editWord ? false:true
                        this.editWord=true
                        
        
                    },

                    reloadWaevs(){
                        axios({
                        method:"get",
                        url: '/current/',
                    }).then(response => {
                        this.user = response.data
                        axios({
                            method:"get",
                            url: `/api/v1/users/${this.user.id}/`
                        }).then(response => {
                            this.userWaevs= response.data.audiofile_set
                            this.selectedWaev=this.userWaevs[0]
                            this.selectedWaev.transcript=JSON.parse(this.userWaevs[0].transcript)
                        })
                    })
                    }
                },
                mounted: function(){
                    this.csrf_token=document.querySelector("input[name=csrfmiddlewaretoken]").value
                    this.reloadWaevs()

                },
                created:function(){
                    window.addEventListener('keyup', event =>{
                        if (this.editWord && event.key === 'Enter'){
                            this.toggleEdit();
                            this.updateTranscript();
                            this.editWord=false
                            }
                    })
                }
            })
        </script>
    {%endblock%}



