{%csrf_token%}
<body>
<div id="app">
    <div class="container">
        <div class="large-12 medium-12 small-12 cell">
            <label>File 
                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
            </label>
                <button @click="submitFile()">Submit</button>
        </div>
    </div>
    <div v-show="this.transcript">
        <span v-for="word in this.transcript">
            <a v-if="!editWord" @mouseover="hoverTimecode=word.timestamp" @click="toggleEdit">[[word.text]] </a>
            <a v-else="editWord" v-on:keyup.enter="toggleEdit"><input v-model="word.text" v-on:keyup.enter="toggleEdit" :size="word.text.length===1 ? word.text.length:word.text.length-1"></a>
        </span>
        <button @click="updateTranscript()">Save</button>
        <div>
            [[this.hoverTimecode]]
        </div>
    </div>    
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            csrf_token: "",
            user: "",
            file: "",
            filename: "",
            transcript: null,
            id: "",
            editWord: false,
            hoverTimecode: null
        },

        methods: {
            handleFileUpload(){
                console.log(this.$refs.file.files)
                this.file = this.$refs.file.files[0]
                this.filename=this.$refs.file.files[0].name
            },
            submitFile(){
                let formData= new FormData()
                formData.append(
                    'audio', this.file)
                formData.append('user', 1)
                formData.append('filename', this.filename)
                console.log(formData)
                axios.post('/api/v1/',
                    formData,
                    {
                        headers:{
                            'Content-Type':'multipart/form-data',
                            'X-CSRFToken': this.csrf_token
                        }
                    }).then(response=>{
                        console.log(response.data)
                        this.id = response.data.id
                        axios({
                            method: 'post',
                            url:'http://localhost:8000/upload/',
                            data: {"filename": this.filename},               
                            headers:{
                                'X-CSRFToken': this.csrf_token
                            },

                        }).then(
                            axios({
                                method: 'post',
                                url:'http://localhost:8000/transcribe/',
                                data: {"filename": this.filename,
                                "id": this.id},               
                                headers:{
                                    'X-CSRFToken': this.csrf_token
                                },
                            }).then(response => this.transcript=response.data)
                        )
                    })

            },
            updateTranscript(){
                axios({
                    method: 'patch',
                    url: `/api/v1/${this.id}/`,
                    data: {'transcript': JSON.stringify(this.transcript)},
                    headers:{'X-CSRFToken':this.csrf_token}
                }).then(function(){
                    console.log("Success!")
                }).catch(function(){
                    console.log("Failure")
                })
            },
            toggleEdit(){
                this.editWord=this.editWord ? false:true
            }
        },
        mounted: function(){
            this.csrf_token=document.querySelector("input[name=csrfmiddlewaretoken]").value

        },
        created:function(){
            window.addEventListener('keyup', event =>{
                if (this.editWord && event.key === 'Enter'){
                    this.toggleEdit()
                }
            })
        }
    })
</script>


