/* .third{
    border: 1px solid#dae1e7;
} */

.brand{
    font-family: 'Righteous', cursive;
    font-size: 3em;
    margin:auto

}
.my-container{
    max-width: 50%;
    margin:70px auto;
}

#timecode{
    padding-top: 15px;
    height:10vh;
    margin-top: 90px;
}

#transcript{
    border: 1px solid#dae1e7;
    height: 90vh;
    padding-top:20px;
    overflow:scroll;
    margin-top:90px;

}

#upload{
    height: 30vh;
    padding-top:50px;

}

#upload-content{
    margin: 0px auto
}

#waevlist{
    height: 50vh;
    padding-top:20px;
    overflow:scroll;
}