/* .third{
    border: 1px solid#dae1e7;
} */

.brand{
    font-family: 'Righteous', cursive;
    font-size: 3em;
    margin:auto

}
.my-container{
    max-width: 50%;
    margin:160px auto;
}

.active{
    background-color:#dae1e7 ;
}

.submit{
    background-color:#142850;
}

.waev{
    font-weight: bolder;
    margin-bottom:0px;
    padding:10px
}

#waevlist h3{
    padding-left:10px
}

#dashboard{
    padding: 0px;
}

#timecode{
    padding-top: 15px;
    height:10vh;
    margin-top: 90px;
    padding-left:10px;
    padding-bottom:10px;
    border-bottom: 1px solid#dae1e7
}

#transcript{
    border: 1px solid#dae1e7;
    height: 90vh;
    padding-top:20px;
    overflow:scroll;
    margin-top:90px;

}

#upload{
    height: 25vh;
    padding:10px;
    border-bottom: 1px solid#dae1e7

}

#upload-content{
    margin: 0px auto
}

#waevlist{
    height: 55vh;
    padding-top:10px;
    overflow:scroll;
    border-bottom: 1px solid#dae1e7
}