/* .third{
    border: 1px solid#dae1e7;
} */

.brand{
    font-family: 'Righteous', cursive;
    font-size: 3em;
    margin:auto

}

#timecode{
    padding-top: 10px;
}

#transcript{
    border: 1px solid#dae1e7;
    height: 100vh;
    padding-top:20px
}

#upload{
    height: 50vh
}

#waevlist{
    height: 50vh;
    padding-top:20px;
}